/* .home {
  align-self: center;
  display: flex;
  align-items: center;
}
.card {
  padding: 4vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 10em;
} */
