/*
  Login
*/

/* .MainDiv {
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  min-height: 50vh;
  text-align: center;
}

.Avatar {
  height: 35vmin;
  pointer-events: none;
}

.LoginForm {
  padding: 4vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  width: 15vh;
  align-self: center;
}

#Title {
  font-size: xx-large;
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 5vh;
} */




/*
  Manager Control Center
*/
/*
.NavBar {
  background-color: #1cd4d4;
  justify-content: end;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);
  color: #000000;
  min-height: 10vh;
  text-align: center;
  margin-bottom: 20px;
}

.NavBarAvatar {
  border-radius: 50%;
  width: 70px;
  margin: 7px;
}

.Username {
  margin-right: 5px;
}


.ControlCenter {
  background-color: #ffffff;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  min-height: 50vh;
  text-align: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: #1cd4d4;
  border-radius: 15px;
  margin: 15px;
}

.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

*/